body {
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  position: relative;
  
  width: 1200px;
  margin: 0 auto;
  
  background-color: #fff;
}

.container::before,
.container::after {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
  width: 100%;
  height: 100%; 
}

.container::before {
  -webkit-box-shadow: -5px 10px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: -5px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.container::after {
  -webkit-box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.1);
}


.main-header .container::before,
.main-header .container::after {
  top: -15px;
  
  height: calc(15px + 100%);
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 99999;
  
  width: 138px;
  height: 70px;
  
  -webkit-transform: translateX(-50%);
  
      -ms-transform: translateX(-50%);
  
          transform: translateX(-50%);
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  
  width: 100%;
  
  list-style: none;
}

.navigation-item {
  width: 250px;
  padding: 15px 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-item:nth-of-type(4n-2) {
  margin-right: auto;
}

.navigation-item:nth-of-type(4n-1) {
  margin-left: auto;
}

.navigation-item:nth-of-type(4n-1),
.navigation-item:nth-of-type(4n) {
  text-align: right;
}

.navigation-link {
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.navigation-link:hover {
  color: #81b3d2;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link.current {
  color: #766357;
}

.main-footer {  
  position: relative;
  z-index: 3;

  overflow: hidden;
  opacity: 0.9;
}

.inner-page .main-footer {
  opacity: 1;
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0 30px;
}

.footer-hashtag {
  width: 400px;
  margin: 0px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  
  text-align: center;
  
  list-style: none;
}

.social-item {
  width: 45px;
  height: 45px;
  margin: 0 5px 5px 0;
  
  background-color: #81b3d2;
}

.social-item:nth-child(3n) {
  margin-right: 0;
}

.social-button {
  display: block;
  height: 100%;
  
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-item:hover {
  background-color: #669ec0;
}

.social-item:active {
  background-color: #5496bd;
}

.social-button:active {
  opacity: 0.3;
}

.social-button.twitter {
  background-image: url("../img/twitter.svg");
}

.social-button.facebook {
  background-image: url("../img/facebook.svg");
}

.social-button.youtube {
  background-image: url("../img/youtube.svg");
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  margin: 0px;
  
  text-align: center;
}

.copyright-text {
  margin-right: 10px;
    
  line-height: 26px;
}

.copyright-logo .svg-logo {
  position: relative;
  top: 4px;
}

.copyright-logo .svg-inner {
  fill: #000;
}

.copyright-logo:hover .svg-inner {
  fill: #81b3d2;
}

.copyright-logo:active .svg-inner {
  fill: #bdbbbc;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/**
 * Index
 */

.welcome {
  margin-bottom: 40px;
  
  background: #fff url("../img/welcome-background-full.jpg") center -55px no-repeat;
}

.welcome-text {
  width: 440px;
  margin: 0px auto;
  padding-top: 570px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.advantages-header {
  margin: 0 0 55px;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-item:not(.secondary) {
  color: #fff;
  
  background-color: #81b3d2;
}

.advantages-item .description {
  width: 400px;
  padding-top: 45px;
  padding-bottom: 55px;
  
  text-align: center;
}

.advantages-item .img {
  width: 800px;
  height: 255px;
  
  overflow: hidden;
}

.advantages-item .description-header,
.features-item .description-header {
  width: 155px;
  margin: 0 auto 25px;
  
  font-size: 21px;
  font-weight: 700;
}

.advantages-item .description-numeration {
  margin: 0 auto 25px;
}

.advantages-item .description-text,
.features-item .description-text {
  width: 302px;
  margin: 0 auto;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.features-item {
  width: 400px;
}

.features .description {
  position: relative;
  
  padding-top: 165px;
  padding-bottom: 85px;
  
  text-align: center;
} 

.features .description-text {
  color: #333;
}

.features-item .description::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 50%;
  
  width: 80px;
  height: 80px;
  margin-left: -40px;
}

.features-item.place .description::before {
  background: url("../img/house-icon.svg") center no-repeat;
}

.features-item.food .description::before {
  background: url("../img/burger-icon.svg") center no-repeat;
}

.features-item.souvenirs .description::before {
  background: url("../img/present-icon.svg") center no-repeat;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  
  background-color: #eee;
  list-style: none;
}

.advantages-item.secondary {
  width: 400px;
}

.advantages-item.secondary .description-text {
  width: 280px;
}

.advantages-item.secondary .description-numeration,
.advantages-item.secondary .description-text {
  color: #333;
}

.search {
  position: relative;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  
  background-color: #fff;
}

.search-header {
  margin: 0 0 35px;
  
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-text {
  width: 440px;
  margin: 0 0 50px;
  
  line-height: 24px;
  color: #333;
  text-align: center;
}

.search-button {
  position: relative;
  z-index: 2;
  
  width: 580px;
  padding: 30px 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;
  text-transform: inherit;
  
  background-color: #766357;
  border: none;
}

.search-button:hover {
  background-color: #604e43;
  
  cursor: pointer;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #503e33;
  
  cursor: pointer;
}

.search .form-wrapper {
  position: absolute;
  top: 314px;
  left: 0px;
  
  width: 100%;
  min-height: 390px;
    
  overflow: hidden;
}

.search-form {
  position: absolute;
  top: -150%;
  left: 50%;
  z-index: 99999;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 580px;
  padding: 55px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
  
  background-color: #fff;
  
  -webkit-transform: translateX(-50%);
  
      -ms-transform: translateX(-50%);
  
          transform: translateX(-50%);
  
  -webkit-transition: top 0.6s;
  
  -o-transition: top 0.6s;
  
  transition: top 0.6s;
}

.search-form.opened {
  top: 0;
}

.search-form .form-label,
.search-form .form-field,
.search-form .form-button {
  line-height: 26px;
  font-weight: 700;
  text-transform: inherit;
}

.search-form .form-item {
  position: relative;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px 0;
}

.search-form .form-label {
  width: 100px;
  margin-right: 15px;
}

.search-form .form-field {
  width: 345px;
  height: 40px;
  background-color: #f2f2f2;
  padding: 5px 40px 5px 15px;
  
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-form .form-field.short {
  width: 115px;
  padding-left: 40px;
  
  text-align: center;
}

.search-form .label-right {
  text-align: right;
}

.search-form .form-field:hover {
  background-color: #ebebeb;
}

.search-form .form-field:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5;
  outline: 0;
}

.search-form .calendar-button,
.search-form .addition-button,
.search-form .subtract-button {
  position: absolute;
  top: 0px;  
  right: 0;
    
  width: 40px;
  height: 40px;
  
  background: transparent;
  border: none;
  
  cursor: pointer;
}

.calendar-button .svg-icon {
  position: relative;
  top: 4px;
  
  fill: #a9a9a9;
}

.calendar-button:hover .svg-icon {
  fill: #000;
}

.calendar-button:active .svg-icon {
  fill: #81b3d2;
}

.search-form .subtract-button {
  right: 75px;
}

.addition-button::before,
.addition-button::after,
.subtract-button::before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  
  -webkit-transform: translate(-50%);
  
      -ms-transform: translate(-50%);
  
          transform: translate(-50%);
}

.addition-button::after {
  -webkit-transform: translate(-50%) rotate(90deg);
      -ms-transform: translate(-50%) rotate(90deg);
          transform: translate(-50%) rotate(90deg);
}

.addition-button:hover::before,
.addition-button:hover::after,
.subtract-button:hover::before {
  background-color: #000;
}

.addition-button:active::before,
.addition-button:active::after,
.subtract-button:active::before {
  background-color: #81b3d2;
}

.search-form .button-submit {
  width: 100%;
  margin-top: 25px;
  padding: 15px 195px;
  
  font-size: 21px;
  color: #fff;
  text-transform: inherit;
  
  background-color: #81b3d2;
  border: none;
}

.search-form .button-submit:hover {
  background-color: #669ec0;
  
  cursor: pointer;
}

.search-form .button-submit:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #5496bd;
  
  cursor: pointer;
}

.search-map {
  position: relative;
  
  width: 100%;
  height: 593px;
  margin-top: -115px;
}

.google-map {
  position: absolute;
  top: 115px;
  z-index: 2;
  
  width: 100%;
  height: 100%;
  
  border: 0;
}

.map-pic {
  position: absolute;
  top: 115px;
  z-index: 1;
  
  display: block;
}

/**
 * Hotels
 */

.filters {
  color: #fff;
  
  background-image: url("../img/filter-background.png");
  background-repeat: no-repeat;
}

.filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 35px 70px;
}

.filters-group {
  width: 240px;
  
  border: none;
}

.filters-group.type {
  margin-right: auto;
}

.filters-group .filters-legend {  
  font-size: 16px;
  font-weight: 700;
}

.label-price {
  font-size: 16px;
  font-weight: 700;
}

.filters-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.filters-list .item {
  margin-top: 25px;
}

.filters-list .form-label {
  position: relative;
  
  padding-left: 45px;
}

.filters-list .form-label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0px;
  
  width: 30px;
  height: 30px;
  
  background: url("../img/checkbox-off.svg") center no-repeat;
}

.filters-list .form-field:checked + .form-label::before {
  background: url("../img/checkbox-on.svg") 4px center no-repeat;
}

.filters-list .form-field:disabled + .form-label::before {
  background: url("../img/checkbox-off-disabled.svg") center no-repeat;
}

.filters-list .form-field:checked:disabled + .form-label::before {
  background: url("../img/checkbox-on-disabled.svg") 4px center no-repeat;
}

.filters-list .form-field:focus + .form-label::before {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filters-range {
  width: 330px;
}

.range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #fff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls .form-label {
  display: inline-block;

  font-size: 14px;
  line-height: 34px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .form-field {
  display: inline-block;
  width: 50px;
  height: 36px;
  margin: 0;

  color: inherit;
  font: inherit;
  vertical-align: baseline;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filters-form .form-button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filters-form .form-button:hover {
  color: #000000;

  background: #ffffff;
}

.catalog-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 70px;
  
  border-bottom: 1px solid #e5e5e5;
}

.number-found {
  width: 140px;
  margin: 0;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.controls-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 390px;
  margin: 0 auto 0 0;
}

.sort-text {
  margin: 0;
  
  font-size: 12px;
  line-height: 18px;
}

.type-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sort-item {
  width: 76px;
}

.order-sort {
  width: 50px;
  margin: 0 0 0 auto;
  
  text-align: right;
}

.order-link {
  margin-left: 10px;
}

.order-link .svg-inner {
  fill: rgba(0, 0, 0, 0.3);
}

.order-link:hover .svg-inner {
  fill: #000;
}

.order-link:active .svg-inner,
.order-link.active .svg-inner {
  fill: #81b3d2;
}

.sort-link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted;
}

.sort-link:hover {
  color: #81b3d2;
}

.sort-link:active {
  color: #000;
  border-bottom: none;
}

.sort-link.current {
  color: #81b3d2;
  border-bottom: none;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 70px;
  
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item .picture-wrapper {
  width: 165px;
}

.catalog-item .picture {
  display: block;
}

.catalog-item .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 565px;
  margin: 0 0 auto 0;
}

.catalog-item .description-header {
  width: 100%;
  margin: 0 0 5px 0;
}

.catalog-item .description-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.catalog-item .description-name:hover {
  color: #81b3d2;
}

.catalog-item .description-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item .description-type,
.catalog-item .description-cost {
  margin: 0 0 15px 0;
  
  color: #333;
}

.catalog-item .description-type {
  min-width: 105px;
  margin-right: 5px;
}

.catalog-item .description-cost {
  min-width: 140px;
}

.catalog-item .description-actions {
  width: 100%;
  margin: 0;
}

.action-button {
  padding: 4px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
  font-weight: 700;
  color: #fff;
}

.action-button.more {
  background-color: #81b3d2;
}

.action-button.reserve {
  background-color: #766357;
}

.action-button.more:hover {
  background-color: #669ec0;
}

.action-button.more:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #5496bd;
}

.action-button.reserve:hover {
  background-color: #604e43;
}

.action-button.reserve:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #503e33;
}

.metainformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 240px;
  margin: 0 0 0 auto;
}

.star-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  
  list-style: none;
}

.rating-item {
  width: 20px;
  height: 20px;
  
  background: url("../img/star.svg") center no-repeat;
}

.rating-text {
  margin: 0;
  padding: 3px 15px;
  
  color: #666;
  
  background-color: #f2f2f2;
}