/**
 * Common styles
 */
body {
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.site-navigation {
  list-style: none;
}

.main-header {
  background-color: #ffffff;
}

.navigation-link {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.navigation-link:hover {
  color: #81b3d2;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link.current {
  color: #766357;
}

.main-footer {
  background-color: #ffffff;
  
  opacity: 0.9;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-social {
  list-style: none;
}

.copyright-text {
  line-height: 26px;
}

/**
 * Index
 */

.welcome {
  background-color: #ffffff;
  background-image: url("../img/welcome-background.jpg");
  background-repeat: no-repeat;
}

.welcome .welcome-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.advantages {
  background-color: #ffffff;
}

.advantages h2 {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.advantages h3 {
  font-size: 21px;
  font-weight: 700;
}

.advantages-item {
  color: #ffffff;
  
  background-color: #81b3d2;
}

.features {
  list-style: none;
}

.features:last-child {
  background-color: #eeeeee;
}

.features-item .numeration,
.features-item .text {
  color: #333333;
}

.search {
  background-color: #ffffff;
}

.search h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-text {
  line-height: 24px;
  color: #333333;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  
  background-color: #766357;
  border: none;
}

.search-button:hover {
  background-color: #604e43;
  
  cursor: pointer;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #503e33;
  
  cursor: pointer;
}

.search-form {
  background-color: #ffffff;
}

.search-form label,
.search-form input,
.search-form button {
  line-height: 26px;
  font-weight: bold;
}

.search-form input {
  background-color: #f2f2f2;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
}

.search-form button {
  font-size: 21px;
  color: #ffffff;
  
  background-color: #81b3d2;
  border: none;
}

.search-form button:hover {
  background-color: #669ec0;
  
  cursor: pointer;
}

.search-form button:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #5496bd;
  
  cursor: pointer;
}

/**
 * Hotels
 */

.filters {
  color: #ffffff;
  
  background-image: url("../img/filter-background.png");
  background-repeat: no-repeat;
}

.filters-group {
  border: none;
}

.filters-group legend,
.filters label[for="price"] {
  font-size: 16px;
  font-weight: 700;
}

.filters-list {
  list-style: none;
}

.filters-form .button {
  color: #ffffff;
  
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filters-form .button:hover {
  color: #000000;
  
  background-color: #ffffff;
  
  cursor: pointer;
}

.catalog {
  background-color: #ffffff;
}

.catalog .catalog-text:first-of-type {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.catalog .catalog-text:last-of-type,
.type-sort {
  font-size: 12px;
  line-height: 18px;
}

.type-sort {
  list-style: none;
}

.type-sort a {
  color: rgba(0, 0, 0, 0.3);
}

.type-sort a:hover {
  color: #81b3d2;
}

.type-sort a:active {
  color: #000000;
}

.type-sort a.current {
  color: #81b3d2;
}

.catalog-item .name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.catalog-item .name:hover {
  color: #81b3d2;
}

.catalog-item .name:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item .type,
.catalog-item .cost {
  color: #333333;
}

.action-button {
  font-weight: 700;
  color: #ffffff;
}

.action-button.more {
  background-color: #81b3d2;
}

.action-button.reserve {
  background-color: #766357;
}

.action-button.more:hover {
  background-color: #669ec0;
}

.action-button.more:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #5496bd;
}

.action-button.reserve:hover {
  background-color: #604e43;
}

.action-button.reserve:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #503e33;
}

.rating-text {
  color: #666666;
  
  background-color: #f2f2f2;
}