body {
  position: relative;
  
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.header-navigation {
  display: flex;
}

.container {
  width: 1200px;
  margin: 0 auto;
  
  background-color: #fff;
}

.site-navigation {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.navigation-link {
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.navigation-link:hover {
  color: #81b3d2;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link.current {
  color: #766357;
}

.main-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
    
  opacity: 0.9;
}

.inner-page .main-footer {
  position: static;
  
  opacity: 1;
}

.main-footer .container {
  display: flex;
  align-items: center;
  padding: 35px 0;
}

.footer-hashtag {
  width: 400px;
  margin: 0px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.footer-social {
  display: flex;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  
  text-align: center;
  
  list-style: none;
}

.social-item {
  width: 45px;
  height: 45px;
  
  background-color: #81b3d2;
}

.social-button {
  display: block;
  height: 100%;
  
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-item:hover {
  background-color: #669ec0;
}

.social-item:active {
  background-color: #5496bd;
}

.social-button:active {
  opacity: 0.3;
}

.social-button.twitter {
  background-image: url("../img/twitter.svg");
}

.social-button.facebook {
  background-image: url("../img/facebook.svg");
}

.social-button.youtube {
  background-image: url("../img/youtube.svg");
}

.footer-copyright {
  width: 400px;
  margin: 0px;
  
  text-align: center;
}

.copyright-text {  
  line-height: 26px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/**
 * Index
 */

.welcome {
  height: 510px;
  margin-bottom: 150px;
  
  background-color: #fff;
  background-image:
    url("../img/welcome-background-footer.png"),
    url("../img/because-the-grand-canyon-sucks.png"), 
    url("../img/sedona-text.png"), 
    url("../img/hyphens.png"), 
    url("../img/to-the-gorgeous-text.png"), 
    url("../img/welcome-text.png"), 
    url("../img/welcome-background.jpg");
  background-position:
    center 453px,
    center 350px,
    center 215px,
    center 145px,  
    center 135px, 
    center 75px, 
    center top;
  background-repeat: no-repeat;
}

.welcome-text {
  width: 440px;
  margin: 0px auto;
  padding-top: 570px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.advantages-header {
  margin: 0 0 55px;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.advantages-item {
  display: flex;
}

.advantages-item:not(.secondary) {
  color: #fff;
  
  background-color: #81b3d2;
}

.advantages-item .description {
  width: 400px;
  padding-top: 45px;
  padding-bottom: 55px;
  
  text-align: center;
}

.advantages-item .img {
  width: 800px;
  height: 255px;
  
  overflow: hidden;
}

.city-photo {
  position: relative;
  top: -78px;
}

.canyon-photo {
  position: relative;
  top: -78px;
}

.advantages-item .description-header {
  width: 155px;
  margin: 0 auto 25px;
  
  font-size: 21px;
  font-weight: 700;
}

.advantages-item .description-numeration {
  margin: 0 auto 25px;
}

.advantages-item .description-text {
  width: 302px;
  margin: 0 auto;
}

.features {
  display: flex;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.features-item {
  width: 400px;
}

.features .description {
  padding-top: 160px;
  padding-bottom: 85px;
  
  text-align: center;
} 

.features .description-numeration,
.features .description-text {
  color: #333;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  
  background-color: #eee;
  list-style: none;
}

.advantages-item.secondary {
  width: 400px;
}

.advantages-item.secondary .description-text {
  width: 280px;
}

.advantages-item.secondary .description-numeration,
.advantages-item.secondary .description-text {
  color: #333;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  
  background-color: #fff;
}

.search-header {
  margin: 0 0 35px;
  
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-text {
  width: 435px;
  margin: 0 0 50px;
  
  line-height: 24px;
  color: #333;
  text-align: center;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;
  
  background-color: #766357;
  border: none;
}

.search-button:hover {
  background-color: #604e43;
  
  cursor: pointer;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #503e33;
  
  cursor: pointer;
}

.search-form {
  background-color: #fff;
}

.search-form .form-label,
.search-form .form-field,
.search-form .form-button {
  line-height: 26px;
  font-weight: 700;
}

.search-form .form-field {
  background-color: #f2f2f2;
}

.search-form .form-field:hover {
  background-color: #ebebeb;
}

.search-form .form-field:focus {
  background-color: #fff;
}

.search-form .form-button {
  font-size: 21px;
  color: #fff;
  
  background-color: #81b3d2;
  border: none;
}

.search-form .form-button:hover {
  background-color: #669ec0;
  
  cursor: pointer;
}

.search-form .form-button:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #5496bd;
  
  cursor: pointer;
}

.map-pic {
  display: block;
}

/**
 * Hotels
 */

.filters {
  color: #fff;
  
  background-image: url("../img/filter-background.png");
  background-repeat: no-repeat;
}

.filters-form {
  display: flex;
  margin: 0;
  padding: 35px 70px;
}

.filters-group {
  width: 240px;
  
  border: none;
}

.filters-group.type {
  margin-right: auto;
}

.filters-group .filters-legend {
  font-size: 16px;
  font-weight: 700;
}

.label-price {
  font-size: 16px;
  font-weight: 700;
}

.filters-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.filters-form .form-button {
  color: #fff;
  
  background-color: transparent;
  border: 2px solid #fff;
}

.filters-form .form-button:hover {
  color: #000;
  
  background-color: #fff;
  
  cursor: pointer;
}

.form-wrapper {
  width: 330px;
  margin-left: auto;
}

.catalog {  
  background-color: #fff;
}

.catalog-controls {
  display: flex;
  align-items: center;
  padding: 35px 70px;
  
  border-bottom: 1px solid #e5e5e5;
}

.number-found {
  width: 140px;
  margin: 0;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.controls-wrapper {
  display: flex;
  justify-content: space-around;
  width: 390px;
  margin: 0 auto 0 0;
}

.sort-text {
  margin: 0;
  
  font-size: 12px;
  line-height: 18px;
}

.type-sort {
  display: flex;
  margin: 0;
  padding: 0;
  
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sort-item {
  width: 76px;
}

.order-sort {
  width: 40px;
  margin: 0 0 0 auto;
}

.sort-link {
  color: rgba(0, 0, 0, 0.3);
}

.sort-link:hover {
  color: #81b3d2;
}

.sort-link:active {
  color: #000;
}

.sort-link.current {
  color: #81b3d2;
}

.catalog-item {
  display: flex;
  padding: 35px 70px;
  
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item .logo {
  width: 165px;
}

.catalog-item .description {
  width: 565px;
  margin: 0 0 auto 0;
}

.catalog-item .description-header {
  margin: 0;
}

.catalog-item .description-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.catalog-item .description-name:hover {
  color: #81b3d2;
}

.catalog-item .description-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item .description-type,
.catalog-item .description-cost {
  margin: 0;
  
  color: #333;
}

.catalog-item .description-actions {
  margin: 0;
}

.action-button {
  font-weight: 700;
  color: #fff;
}

.action-button.more {
  background-color: #81b3d2;
}

.action-button.reserve {
  background-color: #766357;
}

.action-button.more:hover {
  background-color: #669ec0;
}

.action-button.more:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #5496bd;
}

.action-button.reserve:hover {
  background-color: #604e43;
}

.action-button.reserve:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #503e33;
}

.metainformation {
  width: 240px;
  margin: 0 0 0 auto;
}

.rating-text {
  color: #666;
  
  background-color: #f2f2f2;
}