body {
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.header-navigation {
  display: flex;
}

.container {
  position: relative;
  
  width: 1200px;
  margin: 0 auto;
  
  background-color: #fff;
}

.container::before,
.container::after {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
  width: 100%;
  height: 100%; 
}

.container::before {
  box-shadow: -5px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.container::after {
  box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.1);
}


.main-header .container::before,
.main-header .container::after {
  top: -15px;
  
  height: calc(15px + 100%);
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 99999;
  
  width: 138px;
  height: 70px;
  
  transform: translateX(-50%);
}

.site-navigation {
  display: flex;

  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  
  width: 100%;
  
  list-style: none;
}

.navigation-item {
  width: 250px;
  padding: 14px 72px 16px;
  box-sizing: border-box;
}

.navigation-item:nth-of-type(4n-2) {
  margin-right: auto;
  padding-left: 63px;
}

.navigation-item:nth-of-type(4n-1) {
  margin-left: auto;
  padding-right: 63px;
}

.navigation-item:nth-of-type(4n-1),
.navigation-item:nth-of-type(4n) {
  text-align: right;
}

.navigation-link {
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.navigation-link:hover {
  color: #81b3d2;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link.current {
  color: #766357;
}

.main-footer {  
  position: relative;
  z-index: 3;

  overflow: hidden;
  opacity: 0.9;
}

.inner-page .main-footer {
  opacity: 1;
}

.main-footer .container {
  display: flex;
  align-items: center;
  padding: 35px 0;
}

.footer-hashtag {
  width: 400px;
  margin: 0px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;
  max-width: 400px;
  margin: 0 auto;
  padding: 0;
  
  text-align: center;
  
  list-style: none;
}

.social-item {
  width: 45px;
  height: 45px;
  margin: 0 5px 5px 0;
  
  background-color: #81b3d2;
}

.social-button {
  display: block;
  height: 100%;
  
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-item:hover {
  background-color: #669ec0;
}

.social-item:active {
  background-color: #5496bd;
}

.social-button:active {
  opacity: 0.3;
}

.social-button.twitter {
  background-image: url("../img/twitter.svg");
}

.social-button.facebook {
  background-image: url("../img/facebook.svg");
}

.social-button.youtube {
  background-image: url("../img/youtube.svg");
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0px;
  
  text-align: center;
}

.copyright-text {
  margin-right: 10px;
    
  line-height: 26px;
}

.copyright-logo .svg-logo {
  position: relative;
  top: 4px;
}

.copyright-logo .svg-inner {
  fill: #000;
}

.copyright-logo:hover .svg-inner {
  fill: #81b3d2;
}

.copyright-logo:active .svg-inner {
  fill: #bdbbbc;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/**
 * Index
 */

.welcome {
  margin-bottom: 25px;
  
  background: #fff url("../img/welcome-background-full.jpg") center -55px no-repeat;
}

.welcome-text {
  width: 440px;
  margin: 0px auto;
  padding-top: 570px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.advantages-header {
  margin: 0 0 50px;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.advantages-item {
  display: flex;
}

.advantages-item:not(.secondary) {
  color: #fff;
  
  background-color: #81b3d2;
}

.advantages-item .description {
  width: 400px;
  padding-top: 45px;
  padding-bottom: 55px;
  
  text-align: center;
}

.advantages-item .img {
  width: 800px;
  height: 255px;
  
  overflow: hidden;
}

.advantages-item .description-header,
.features-item .description-header {
  width: 155px;
  margin: 0 auto 25px;
  
  font-size: 21px;
  font-weight: 700;
}

.advantages-item .description-numeration {
  margin: 0 auto 23px;
}

.advantages-item .description-text,
.features-item .description-text {
  width: 302px;
  margin: 0 auto;
}

.features {
  display: flex;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.features-item {
  width: 400px;
}

.features .description {
  position: relative;
  
  padding-top: 165px;
  padding-bottom: 80px;
  
  text-align: center;
}

.features-item .description-header {
  margin-bottom: 23px;
} 

.features .description-text {
  color: #333;
}

.features-item .description::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 50%;
  
  width: 80px;
  height: 80px;
  margin-left: -40px;
}

.features-item.place .description::before {
  background: url("../img/house-icon.svg") center no-repeat;
}

.features-item.food .description::before {
  background: url("../img/burger-icon.svg") center no-repeat;
}

.features-item.souvenirs .description::before {
  background: url("../img/present-icon.svg") center no-repeat;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  
  background-color: #eee;
  list-style: none;
}

.advantages-item.secondary {
  width: 400px;
}

.advantages-item.secondary .description {
  padding-top: 50px;
}

.advantages-item.secondary .description-text {
  width: 280px;
}

.advantages-item.secondary .description-numeration {
  margin-bottom: 20px;
}

.advantages-item.secondary .description-numeration,
.advantages-item.secondary .description-text {
  color: #333;
}

.search {
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
  
  background-color: #fff;
}

.search-header {
  margin: 0 0 20px;
  
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-text {
  width: 440px;
  margin: 0 0 50px;
  
  line-height: 24px;
  color: #333;
  text-align: center;
}

.search-button {
  position: relative;
  z-index: 2;
  
  width: 570px;
  padding: 30px 135px;
  box-sizing: border-box;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;
  text-transform: inherit;
  
  background-color: #766357;
  border: none;
}

.search-button:hover {
  background-color: #604e43;
  
  cursor: pointer;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #503e33;
  
  cursor: pointer;
}

.search .form-wrapper {
  position: absolute;
  top: 295px;
  left: 0px;
  
  width: 100%;
  min-height: 390px;
    
  overflow: hidden;
}

.search-form {
  position: relative;
  top: -999px;
  left: 50%;
  z-index: 99999;
  
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  padding: 53px 55px;
  box-sizing: border-box;
  
  background-color: #fff;
  
  transform: translateX(-50%);
  transition: top 0.6s;
}

.no-js .search-form {
  top: 0;
}

.search-form.opened {
  top: 0;
}

.search-form .form-label,
.search-form .form-field,
.search-form .form-button {
  line-height: 26px;
  font-weight: 700;
  text-transform: inherit;
}

.search-form .form-item {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 28px 0;
}

.search-form .form-label {
  width: 100px;
  margin-right: 15px;
  box-sizing: border-box;
}

.search-form .form-field {
  width: 345px;
  height: 40px;
  background-color: #f2f2f2;
  padding: 5px 40px 5px 10px;
  
  border: 2px solid transparent;
  box-sizing: border-box;
}

.search-form .form-field.short {
  width: 115px;
  padding-left: 40px;
  
  text-align: center;
}

.search-form .label-right {
  padding-right: 15px;
  
  text-align: right;
}

.search-form .form-field:hover {
  background-color: #ebebeb;
}

.search-form .form-field:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5;
  outline: 0;
}

.search-form .calendar-button,
.search-form .addition-button,
.search-form .subtract-button {
  position: absolute;
  top: 0px;  
  right: 0;
    
  width: 40px;
  height: 40px;
  
  background: transparent;
  border: none;
  
  cursor: pointer;
}

.calendar-button .svg-icon {
  position: relative;
  top: 4px;
  
  fill: #a9a9a9;
}

.calendar-button:hover .svg-icon {
  fill: #000;
}

.calendar-button:active .svg-icon {
  fill: #81b3d2;
}

.search-form .subtract-button {
  right: 75px;
}

.addition-button::before,
.addition-button::after,
.subtract-button::before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  
  transform: translate(-50%);
}

.addition-button::after {
  transform: translate(-50%) rotate(90deg);
}

.addition-button:hover::before,
.addition-button:hover::after,
.subtract-button:hover::before {
  background-color: #000;
}

.addition-button:active::before,
.addition-button:active::after,
.subtract-button:active::before {
  background-color: #81b3d2;
}

.search-form .button-submit {
  width: 100%;
  margin-top: 25px;
  padding: 15px 195px;
  
  font-size: 21px;
  color: #fff;
  text-transform: inherit;
  
  background-color: #81b3d2;
  border: none;
}

.search-form .button-submit:hover {
  background-color: #669ec0;
  
  cursor: pointer;
}

.search-form .button-submit:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #5496bd;
  
  cursor: pointer;
}

.search-map {
  position: relative;
  
  width: 100%;
  height: 593px;
  margin-top: -120px;
}

.google-map {
  position: absolute;
  top: 120px;
  z-index: 2;
  
  width: 100%;
  height: 100%;
  
  border: 0;
}

.map-pic {
  position: absolute;
  top: 120px;
  z-index: 1;
  
  display: block;
}

/**
 * Hotels
 */

.filters {
  color: #fff;
  
  background-color: #7094b5;
  background-image: url("../img/filter-background.png");
  background-repeat: no-repeat;
}

.filters-form {
  display: flex;
  margin: 0;
  padding: 25px 70px 22px 60px;
}

.filters-group {
  width: 230px;
  
  border: none;
}

.filters-group.type {
  margin-right: auto;
}

.filters-group .filters-legend {  
  font-size: 16px;
  font-weight: 700;
}

.label-price {
  font-size: 16px;
  font-weight: 700;
}

.filters-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.filters-list .item {
  margin-top: 24px;
}

.filters-list .form-label {
  position: relative;
  
  padding-left: 40px;
}

.filters-list .form-label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -2px;
  
  width: 30px;
  height: 30px;
  
  background: url("../img/checkbox-off.svg") 1px 1px no-repeat;
}

.filters-list .form-field:checked + .form-label::before {
  background: url("../img/checkbox-on.svg") 1px 1px no-repeat;
}

.filters-list .form-field:disabled + .form-label::before {
  background: url("../img/checkbox-off-disabled.svg") center no-repeat;
}

.filters-list .form-field:checked:disabled + .form-label::before {
  background: url("../img/checkbox-on-disabled.svg") 4px center no-repeat;
}

.filters-list .form-field:focus + .form-label::before {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filters-range {
  width: 320px;
}

.range-title {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 35px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #fff;
  transform: translate(-50%, -50%);
}

.price-controls .form-label {
  display: inline-block;

  font-size: 14px;
  line-height: 34px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 60px;
}

.price-controls .form-field {
  display: inline-block;
  width: 50px;
  height: 36px;
  margin: 0;

  color: inherit;
  font: inherit;
  vertical-align: baseline;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  
  cursor: pointer;
  transition: 0.5s;
}

.range-toggle:hover {
  transform: scale(1.1);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 79%;
}

.filters-form .form-button {
  position: relative;
  left: -5px;
  
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filters-form .form-button:hover {
  color: #000000;

  background: #ffffff;
}

.catalog-controls {
  display: flex;
  align-items: center;
  padding: 30px 70px;
  
  border-bottom: 1px solid #e5e5e5;
}

.number-found {
  width: 140px;
  margin: 0;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.controls-wrapper {
  display: flex;
  width: 410px;
  margin: 0 auto 0 0;
  padding-left: 25px;
}

.sort-text {
  margin: 0;
  
  font-size: 12px;
  line-height: 18px;
}

.type-sort {
  display: flex;
  margin: 0 0 0 40px;
  padding: 0;
  
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sort-item {
  width: 80px;
  margin-right: 2px;
}

.order-sort {
  width: 50px;
  margin: 0 0 0 auto;
  
  text-align: right;
}

.order-link {
  margin-left: 10px;
}

.order-link .svg-inner {
  fill: rgba(0, 0, 0, 0.3);
}

.order-link:hover .svg-inner {
  fill: #000;
}

.order-link:active .svg-inner,
.order-link.active .svg-inner {
  fill: #81b3d2;
}

.sort-link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted;
}

.sort-link:hover {
  color: #81b3d2;
}

.sort-link:active {
  color: #000;
  border-bottom: none;
}

.sort-link.current {
  color: #81b3d2;
  border-bottom: none;
}

.catalog-item {
  display: flex;
  padding: 30px 70px;
  
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item .picture-wrapper {
  width: 165px;
}

.catalog-item .picture {
  display: block;
}

.catalog-item .description {
  display: flex;
  flex-wrap: wrap;
  width: 565px;
  margin: 0 0 auto 0;
}

.catalog-item .description-header {
  width: 100%;
  margin: -5px 0 5px 5px;
}

.catalog-item .description-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.catalog-item .description-name:hover {
  color: #81b3d2;
}

.catalog-item .description-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item .description-type,
.catalog-item .description-cost {
  margin: 0 0 20px 0;
  
  color: #333;
}

.catalog-item .description-type {
  min-width: 105px;
  margin-right: 11px;
  margin-left: 2px;
}

.catalog-item .description-cost {
  min-width: 140px;
}

.catalog-item .description-actions {
  width: 100%;
  margin: 0;
}

.action-button {
  padding: 4px 18px;
  box-sizing: border-box;
  
  font-weight: 700;
  color: #fff;
}

.action-button.more {
  margin-right: 1px;
  
  background-color: #81b3d2;
}

.action-button.reserve {
  background-color: #766357;
}

.action-button.more:hover {
  background-color: #669ec0;
}

.action-button.more:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #5496bd;
}

.action-button.reserve:hover {
  background-color: #604e43;
}

.action-button.reserve:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #503e33;
}

.metainformation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 240px;
  margin: 0 0 0 auto;
}

.star-rating {
  display: flex;
  justify-content: flex-end;
  margin: -5px 0 0 0;
  
  list-style: none;
}

.rating-item {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  
  background: url("../img/star.svg") center no-repeat;
}

.rating-text {
  margin: 0;
  padding: 3px 15px;
  
  color: #666;
  
  background-color: #f2f2f2;
}