body {
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #fff;
}

.site-navigation {
  list-style: none;
}

.navigation-link {
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.navigation-link:hover {
  color: #81b3d2;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link.current {
  color: #766357;
}

.main-footer {
  background-color: #fff;
  
  opacity: 0.9;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social {
  list-style: none;
}

.copyright-text {
  line-height: 26px;
}

/**
 * Index
 */

.welcome {
  background-color: #fff;
  background-image: url("../img/welcome-background.jpg");
  background-repeat: no-repeat;
}

.welcome-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.advantages {
  background-color: #fff;
}

.advantages-header {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333;
}

.advantages-item:not(.secondary) {
  color: #fff;
  
  background-color: #81b3d2;
}

.description-header {
  font-size: 21px;
  font-weight: 700;
}

.features {
  list-style: none;
}

.features .description-numeration,
.features .description-text {
  color: #333;
}

.advantages-list {
  list-style: none;
  background-color: #eee;
}

.advantages-item.secondary .description-numeration,
.advantages-item.secondary .description-text {
  color: #333;
}

.search {
  background-color: #fff;
}

.search-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-text {
  line-height: 24px;
  color: #333;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;
  
  background-color: #766357;
  border: none;
}

.search-button:hover {
  background-color: #604e43;
  
  cursor: pointer;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #503e33;
  
  cursor: pointer;
}

.search-form {
  background-color: #fff;
}

.search-form .form-label,
.search-form .form-field,
.search-form .form-button {
  line-height: 26px;
  font-weight: 700;
}

.search-form .form-field {
  background-color: #f2f2f2;
}

.search-form .form-field:hover {
  background-color: #ebebeb;
}

.search-form .form-field:focus {
  background-color: #fff;
}

.search-form .form-button {
  font-size: 21px;
  color: #fff;
  
  background-color: #81b3d2;
  border: none;
}

.search-form .form-button:hover {
  background-color: #669ec0;
  
  cursor: pointer;
}

.search-form .form-button:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #5496bd;
  
  cursor: pointer;
}

/**
 * Hotels
 */

.filters {
  color: #fff;
  
  background-image: url("../img/filter-background.png");
  background-repeat: no-repeat;
}

.filters-group {
  border: none;
}

.filters-group .filters-legend {
  font-size: 16px;
  font-weight: 700;
}

.label-price {
  font-size: 16px;
  font-weight: 700;
}

.filters-list {
  list-style: none;
}

.filters-form .form-button {
  color: #fff;
  
  background-color: transparent;
  border: 2px solid #fff;
}

.filters-form .form-button:hover {
  color: #000;
  
  background-color: #fff;
  
  cursor: pointer;
}

.catalog {
  background-color: #fff;
}

.number-found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort-text {
  font-size: 12px;
  line-height: 18px;
}

.type-sort {
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sort-link {
  color: rgba(0, 0, 0, 0.3);
}

.sort-link:hover {
  color: #81b3d2;
}

.sort-link:active {
  color: #000;
}

.sort-link.current {
  color: #81b3d2;
}

.catalog-item .name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.catalog-item .name:hover {
  color: #81b3d2;
}

.catalog-item .name:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item .type,
.catalog-item .cost {
  color: #333;
}

.action-button {
  font-weight: 700;
  color: #fff;
}

.action-button.more {
  background-color: #81b3d2;
}

.action-button.reserve {
  background-color: #766357;
}

.action-button.more:hover {
  background-color: #669ec0;
}

.action-button.more:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #5496bd;
}

.action-button.reserve:hover {
  background-color: #604e43;
}

.action-button.reserve:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #503e33;
}

.rating-text {
  color: #666;
  
  background-color: #f2f2f2;
}